.mobile-link.icon-link {
  margin-bottom: 20px;
}

.default-logo_container {
  height: 70px;
  width: 70px;
}

.home-button {
  height: 100%;
  width: 100%;
}

.router-link-active {
    cursor: default;
    
  }

