.mobile-menu-container{
    display: flex;
}

.container-fluid{
    display: flex;
}

.bars{
    height: 30px;
    color: #b3f8e9;
}

.navbar-toggler:hover{
    transform: rotate(-10deg) scale(1.1);
}

