.btn {
  color: #b3f8e9;
  margin-left: 30px;
}


.btn-user {
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 2px inset #b3f8e9;
  height: 40px;
  width: 40px;
}

.btn:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.avatar {
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.default-avatar {
  position: absolute;
  height: 25px;
  filter: invert(43%) sepia(29%) saturate(276%) hue-rotate(86deg)
    brightness(148%) contrast(119%);
}
