header {
  display: flex;
  justify-content: space-between;
  background-color: #051b1bcc;
  padding: 10px;
}

.img-thumbnail {
  background-color: rgba(127, 255, 212, 0.514);
  border: rgba(127, 255, 212, 0.514);
  height: 68px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding-left: 20px;
    padding-right: 30px;
  }
}
